#home-container {
  width: 100%;
  max-height: 5483px;
  margin-left: 0!important;
  margin-right: 0!important;
  overflow:hidden;

}

#nav-row {
  padding-bottom: 0;
  background: rgba(255, 255, 255, 0);
  z-index: 1;
  margin-bottom: -40px;

}



#nav-row .icon {
  color: white;
  position: absolute;
  left: 40px;
  top: 42px;
}

.transparent-nav {
  height: 48px;
}

/* Splash Component */
#splash-row {
  padding-top: 0;
}

.splash-container {
  width: 100%;
  max-width: 1920px;
  height: 793px;
  background: #2CB8D2;
  margin: auto;
  position: relative;
}

.splash-container p {
  color: white;
  font-size: 60px;
  font-family: Helvetica Neue;
  font-weight: bold;
  width: 1200px;
  margin: auto;
  position: relative;
  top: 321px;
  text-align: center;
}

#left-splash {
  transform: scaleX(-1);
  position: absolute;
  left: -10px;
  top: 730px;
}


#right-splash {
    position: absolute;
    left: 89%;
    top: 693px;
}

/* Main Component */
.main-content {
  margin: auto;
}

#clicktool-description {
    font-size: 16px;
    color: #2CB8D2;
    text-align: center;
    width: 1062px;
    font-family: Helvetica Neue;
    margin: 16px auto 24px auto;
    line-height: 2;
}

#main-content-icons {
  width: 1062px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: #2CB8D2;
  font-family: Helvetica Neue;
  font-weight: bold;
  font-size: 20px;
}

#main-content-icons div {
  text-align: center;
}

#a-b-testing {
  height: 42px;
  margin-bottom: 37px;
}
#increase-roi {
  height: 42px;
  margin-bottom: 37px;

}
#ssl-domains {
  height: 65px;
  margin-bottom: 36px;

}
#traffic-data {
  height: 62px;
  margin-bottom: 20px;
}
#big-discount-container {
  margin: auto;
  width: 1200px;
  height: 270px;
  border-style: solid;
  border-width: 2px;
  border-color: #FECA40;
  color: #24537F;
  position: relative;
  margin-top: 150px;
  font-family: Helvetica Neue;
}
#limited-time {
  transform: rotate(-90deg);
  font-size: 20px;
  width: 270px;
  height: 44px;
  text-align: center;
  font-weight: bold;
  border-bottom: solid;
  border-color: #FECA40;
  border-width: 2px;
  position: absolute;
  left: -90px;
  top: 112px;
}


/* @media only screen and (max-width: 375px) { */
  .nav {
    border-top: solid;
    border-width: 9px;
    border-color: #FECA40;
    background: rgba(255, 255, 255, 0);
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .nav img {
    margin-top: 20px;
    width: 150px;
    position: relative;
    left: 31px;
  }

  .nav p {
    text-align: center !important;
    width: 73.59px;
    background: #FECA40;
    height: 18px;
    font-size: 8px;
    font-weight: bold;
    padding: 6px 0 0 0 !important;
    border-radius: 35px;
    color:#24537F;
    position: relative;
    right: 25px;
    top: -5px;
    box-shadow: 0px 2px 5px 0px #24537F;

  }

  .splash-container {
      width: 100%;
      height: 478px;
      background: #2CB8D2;
      margin: auto;
      position: relative;
  }

  .splash-container p {
    color: white;
    font-size: 60px;
    font-family: Helvetica Neue;
    font-weight: bold;
    width: 1200px;
    margin: auto;
    position: relative;
    top: 321px;
    text-align: center;
  }

  #right-splash {
    position: absolute;
    top: 92%;
    left: 95%;
    height: 40px;
  }

  #left-splash {
    transform: scaleX(-1);
    position: absolute;
    left: -4px;
    height: 40px;
    top: 95%;
}

#clicktool-description {
    font-size: 14px;
    color: #2CB8D2;
    text-align: center;
    width: 340px;
    font-family: Helvetica Neue;
    margin: 0px auto 24px auto;
    line-height: 2;
  }


  .main-content {
    margin: auto;
    width: 375px;
  }


  #main-content-icons {
      width: 375px;
      font-weight: normal;
      font-size: 8px;
      justify-content: space-around;
  }

  #a-b-testing {
      height: 17px;
      margin-bottom: 0px;
  }

  #increase-roi {
      height: 17px;
      margin-bottom: 0px;
  }

  #ssl-domains {
      height: 20px;
      margin-bottom: 0;
  }

  #traffic-data {
    height: 20px;
    margin-bottom: 0;
  }

  #big-discount-container {
    width: 335px !important;
    height: 230px;
    border-style: solid;
    border-width: 1px;
    margin-top: 72px;
  }

  #big-discount-container {
    margin: auto;
width: 1200px;
height: 270px;
border-style: solid;
border-width: 2px;
border-color: #FECA40;
color: #24537F;
position: relative;
margin-top: 150px;
font-family: Helvetica Neue;
      box-shadow: 0px 2px 10px 0px lightgrey;
  }

  #big-discount-container .row {
    padding: 0;
  }

  #limited-time {
      transform: none;
      font-size: 16px;
      width: 100px;
      height: 38px;
      border-bottom: none;
      position: relative;
      top: 24px;
      left: 0px;
  }
  #early-members {
    font-style: italic;
    font-size: 16px;
    font-family: Helvetica Neue;
    font-weight: lighter;
    margin-top: 22px;
  }
  #dollar {
    font-size: 100px;
    float: left;
    margin-top: 30px;
  }
  #first-month {
    width: 37px;
    float: right;
}
  #beta-users-only, #full-feature, #clicks-per-month, #after-30-days  {
    font-size: 12px;
    font-weight: lighter;
  }

  #after-30-days {
    font-size: 16px;
    width: 98px;
  }
  #buy-button {
    text-align: center;
    width: 182px;
    background: #FECA40;
    height: 39px;
    font-size: 18px;
    padding: 5px 0 0 0;
    border-radius: 35px;
  }

  .details-header {
    color: #24537F;
    font-size: 30px;
    font-weight: bold;
    font-family: Helvetica Neue;
    width: 280px;
  }

  .details-paragraph {
    color: #2CB8D2;
    font-size: 14px;
    font-family: Helvetica Neue;
    width: 280px;
    line-height: 1.8;
    margin-top: 20px !important;
  }

  #computer-magnifying {
    height: 159px;
  }

  #all-in-one {
    height: 116px;
  }

  #nondirect {
    height: 151px;
  }

  #landing-pages {
    height: 160px;
  }

  #tracking-report {
    height: 300px;
  }

  #details-grid {
    text-align: center !important;
  }

   #details-grid p {
    text-align: left;
    margin:auto;
  }

  #details-grid img {
    margin-top: 130px;
}

  #beta-logo {
    height: 176px;
  }

 #try-button {
   text-align: center !important;
   width: 243px;
   background: #FECA40;
   height: 40px;
   font-size: 14px;
   font-weight: bold;
   padding: 6px 0 0 0 !important;
   border-radius: 35px;
   color: #24537F;
   box-shadow: 0px 2px 10px 0px lightgrey;

 }

 #full-access {
   color: #2CB8DF;
   font-size: 20px;
   width: 280px;
   text-align: center !important;


 }

 #left-city {
   height: 116px;
   margin-top: 25px !important;
   position: absolute;
  left: -75px;
 }
 #right-city {
  height: 116px;
  margin-top: 29px !important;

 }
 #click-marker {
  height: 80px;
  margin-top: 57px !important;

 }

 .footer {
   background: #2CB8D2;
   height: 100px;
   width: 100%;
 }

 @media only screen and (max-width: 768px) and (min-width: 415px)  {

 .splash-container {
   max-width: 768px;
 }
 #right-splash {
   left:90%;
 }

 .splash-container p {
   width: 642px;
   font-size: 50px;
 }

 .main-content {
   margin:auto;
   width: auto;
 }

 #clicktool-description {
   width: 600px;
 }
 #main-content-icons {
   width: 644px;
   font-size: 14px;
 }
 #a-b-testing {
    height: 56.6px;
    margin-bottom: 30px;
  }
  #increase-roi {
      height: 54.9px;
      margin-bottom: 30px;
  }
  #ssl-domains {
    height: 97.32px;
    margin-bottom: 23px;
  }
  #traffic-data {
      height: 76px;
      margin-bottom: 24px;
  }

  #big-discount-container {
    width: 700px !important;
    height: 339px;
  }

  #limited-time {
      transform: rotate(-90deg);
      width: 339px;
      position: absolute;
      left: -120px;
      top: 135px;
      text-align: center;
  }

  #early-members {
    font-style: italic;
    font-size: 26px;
    width: 209px;
    font-family: Helvetica Neue;
    font-weight: lighter;
    margin-top: 36px;
    margin-left: 156px;
}
 #dollar-sign{
   float: left;
  font-size: 98px;
  font-style: italic;
  font-weight: bold;
  margin-left: 79px;
 }

 #dollar {
    font-size: 220px;
    float: left;
    margin-top: -35px;
    margin-left: 125px;
}
 #beta-users-only{
   width: 239px;
 }

 #beta-users-only, #full-feature, #clicks-per-month, #after-30-days {
    font-size: 12px;
    font-weight: lighter;
    margin-left: 155px;
    margin-bottom: 0;
  }
  #buy-button {
    width: 582px;
    height: 50px;
    font-size: 20px;
    padding: 10px 0 0 0;
    margin: auto;
  }
  #first-month {
      width: 138px;
      font-size: 48px;
      position: absolute;
      bottom: 85px;
      left: 252px;
      height: 111px;
      line-height: 1;
  }
  p#after-30-days {
    position: absolute;
    top: -90px;
    left: 100px;
  }

  #details-grid {
    display: flex;
    flex-direction:row;
  }

  #computer-magnifying {
    order: 1;
  }


}



 @media only screen and (max-width: 415px) {
  .splash-container p {
    color: white;
    font-size: 26px;
    font-family: Helvetica Neue;
    font-weight: bold;
    width: 200px;
    margin: auto;
    position: relative;
    top: 100px;
    text-align: center;
  }


}
